<div class="shopping-list-page">
    <h3 class="shopping-title">
        Shopping List
    </h3>

    <div class="row">
        <div class="col-md-8">
            
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="item in items">
                    <div class="row">
                        <div class="col-xs-10">
                            <h3 class="list-group-item-heading">
                                {{item.name}}
                            </h3>
                            <p class="list-group-item-text">
                                {{item.desc}}
                            </p>
                        </div>
                        <div class="col-xs-2">
                            <div class="pull-right delete">
                                <i class="glyphicon glyphicon-trash" ng-click="deleteItem(item)"></i>
                            </div>
                        </div>
                    </div>

                </li>
            </ul>
        </div>
        <div class="col-md-4 new-item">
            <div class="app-box clearfix">
                <h3 class="add-new-title">Add new item</h3>

                <form name="theForm" novalidate>
                    <div class="form-group" ng-class="{'has-error':theForm.$dirty && theForm.name.$invalid}">
                        <label for="name">Name:</label>
                        <input name="name"
                               id="name"
                               required
                               class="form-control"
                               type="text"
                               ng-model="newItem.name" />
                    </div>
                    <div class="form-group" ng-class="{'has-error':theForm.$submitted && theForm.name.$invalid}">
                        <label for="name">Description:</label>
                        <textarea name="desc"
                                  class="form-control"
                                  type="text"
                                  ng-model="newItem.desc" ></textarea>
                    </div>
                    <div class="buttons pull-right clearfix">
                        <button class="btn btn-success"
                                ng-click="addItem()"
                                ng-disabled="theForm.$invalid">
                            Add
                        </button>
                        <button class="btn btn-default"
                                ng-click="cancel()"
                                ng-disabled="!theForm.$dirty">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>